.container {
    position: relative;
    width: 50%;
    left: 25%;
    top: 200px;
}

.selink:hover {
    color: #999;
}

.selink {
    font-size: 19px;
    /* text-decoration: none; */
    color: #555;
}

.con-title {
    font-size: 21px;
    margin-bottom: 10px;
    color: #555;
}

.info {
    margin-top: 50px;
    font-size: 15px;
    color:#777;
}